<ion-view id="courseList" >
	<ion-nav-bar>
		<ion-nav-back-button></ion-nav-back-button>
		<ion-nav-title>
			코스(정방향)
		</ion-nav-title>
		<ion-nav-buttons side="right">
	    	<a class="button button-icon icon ion-loop" ng-click="changeDirection()"></a>
	    </ion-nav-buttons>
	</ion-nav-bar>
	
	<ion-content class="CourseMain" ng-class="{reverse:reverse}">
		<div class="CourseMainImage" ><img src="img/course/1.png" /></div>
		<div >
			<div class='item item-divider item-dark'>라이딩방</div>			
			<div  ng-repeat="course in courseList" class="courseListItem">
				<div class="coursListItemInfoWrap">
					<div>{{course.title}} <span><i class="icon ion-person"></i>12</span></div>
					<div>라이딩 예정시각 <i class="icon ion-android-alarm-clock"></i> 19:00</div>
				</div>
				<div class="courseListItemBtnWrap" ng-click="enterRideRoom({{courseId}},{{course.idx}})" >간보기</div>	
			</div>
		</div>
	</ion-content>
	<button class=" courseAddBtn animated fadeInLeft" ng-click="openRegForm()"><i class="ion-plus-round icon"></i></button>
</ion-view>
