<ion-view view-title="친구들">
  <ion-content>
    <ion-list>
      <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="friend in friendlist" type="item-text-wrap" href="#/tab/friend/{{friend.idx}}">
        <img ng-src="{{friend.picture}}">
        <h2>{{friend.name}}</h2>
        <p>{{friend.msg}}</p>
        <i class="icon ion-chevron-right icon-accessory"></i>

        <ion-option-button class="button-assertive" ng-click="remove(chat)">
          Delete
        </ion-option-button>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
